.kitten-voter {
  margin: 20px auto;
  width: 500px;
  position: relative;
  max-width: 100%;
  .kitten-card {
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
    height: 600px;
    padding: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    img {
      max-height: 100%;
    }
    &.last-card {
      position: relative;
    }
  }
  .kitten-controls {
    text-align: center;
  }
}
