html.splash_page, .splash_page body {
  height: 100%;
  }

$colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798;

.splash_page{
  body {
    background: white;
    background-size: .12em 100%;
    font: 16em/1 Roboto;
  }
  .container {
    position: initial;
    margin: 0;
  }

  .text--line {
    font-size: .5em;
    }

  .text--line--small {
    font-size: .1em;
    stroke-width: 1px;
    animation: none;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  $max: 5;
  $stroke-step: 7%;
  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
    stroke-width: 3px;

    animation: stroke-offset 9s infinite ease-in-out;

    @for $item from 1 through $max {
      $stroke-color: nth($colors, $item);

      &:nth-child(#{$item}) {
        stroke: $stroke-color;
        stroke-dashoffset: $stroke-step * $item;
        }
      }
    }

  @keyframes stroke-offset {
    50% {
      stroke-dashoffset: $stroke-step * $max;
      stroke-dasharray: 0 $stroke-step * $max*2.5;
    }
  }
}
