
@import "custom";

@import "ember-bootstrap/bootstrap";

@import "links";

@import "kitten-voter";

@import "splash";


* {
  font-family: 'Roboto', sans-serif;
}
.cat-listings {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.cat-listings article {
  padding: 5px;
}
.cat-listings img {
  max-width: 100%;
}
