<header>
  <div class="container">
    <h1>{{#link-to '/' class=""}}Kitten Critic{{/link-to}}</h1>
    <h2>
      Cat dating. Or maybe you just like cat pictures.
    </h2>
  </div>
</header>

<div class="container error">
  Oops! Looks like you followed the lazer pointer off the edge of a cliff.

  Want to return to the app?
  {{#link-to 'index'}}Yes{{/link-to}}
</div>