{{!-- add aria-label here to let users know they can keyboard right or left --}}
<div class="container kitten-voter">
  {{#each cats as |cat index|}} {{cat-card cat=cat index=index}} {{/each}}
  <div class="kitten-controls">
    <button {{action "swipeLeft" cats}} class="btn btn-danger">Hiss</button>
    <button {{action "swipeRight" cats}} class="btn btn-success">Meow</button>
  </div>
</div>