{{#if session.isAuthenticated}}
<header>
  <div class="container">
    <h1>{{#link-to "index" class=""}}Kitten Critic{{/link-to}}</h1>
    <h2>
      Cat dating. Or maybe you just like cat pictures.
    </h2>
    {{#link-to "favs" class=""}}Top Catz{{/link-to}}
  </div>
</header>
{{/if}}

{{outlet}}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92997751-1', 'auto');
  ga('send', 'pageview');

</script>