<div class="container">
  <h1>Top Cats</h1>
</div>
<div class="container cat-listings">

  {{#each sortedCats as |cat|}}
    <div>
      <img src="{{cat.url}}" />
      <h3>{{cat.vote}}</h3>
    </div>
  {{/each}}
</div>