<section class="text-center">
	<button {{action "getACatsCatAPI"}} class="btn btn-submit">Get 100 Cats from CatAPI</button>
  <button {{action "duplicates"}} class="btn btn-submit">Check for and delete duplicates</button>
</section>

<div class="container cat-listings">
  {{#each model as |cat|}}
    {{cat-listing cat=cat decrementCatsPlease="decrementCatsPlease"}}
  {{/each}}
  <button {{action "loadMore"}} class="btn btn-default">Load More</button>
</div>