<div class="container">
  {{#if session.isAuthenticated}}

    {{#if model.cats}}
      {{kitten-voter cats=(await model.cats) anotherPlease="anotherPlease" voteNo="voteNo" voteYes="voteYes"}}
    {{else}}
      no cats!
    {{/if}}

    <div class="mt-5 text-center">
      Logged in as {{session.currentUser.displayName}}
      <button {{action "signOut"}} class="btn btn-default">Sign out</button>
      {{outlet}}
    </div>
  {{else}}
    <svg viewBox="0 0 800 600">
      <symbol id="s-text">
        <text text-anchor="middle"
              x="50%"
              y="35%"
              class="text--line"
              >
          Kitten
        </text>
        <text text-anchor="middle"
              x="50%"
              y="68%"
              class="text--line2"
              >
          Critic
        </text>
        <text text-anchor="middle"
              x="50%"
              y="78%"
              class="text--line--small"
              >
          Soon(tm)...
        </text>

      </symbol>

      <g class="g-ants">
        <use xlink:href="#s-text"
          class="text-copy"></use>
        <use xlink:href="#s-text"
          class="text-copy"></use>
        <use xlink:href="#s-text"
          class="text-copy"></use>
        <use xlink:href="#s-text"
          class="text-copy"></use>
        <use xlink:href="#s-text"
          class="text-copy"></use>
      </g>


    </svg>
  {{/if}}
</div>