<header>
  <h1><a href="/" class="">Kitten Critic</a></h1>
  <h2>
    Cat dating. Or maybe you just like cat pictures.
  </h2>
</header>
<button {{action "signIn" "google"}} class="btn btn-default">Sign in with Google</button>